/* =============================================================================
 *   WoWBlocks
 * ========================================================================== */

/* ==============================
 *   Raid Progress
 * ============================== */
#wow-progression {
  font-size: 11px;
}

#wow-progression .bg-zone {
  color: #ebdabe;
}

#wow-progression .boss-text {
  color: #7c5d5d;
}

#wow-progression table {
  box-shadow: 1px 1px 5px #000;
}

#wow-progression td,
#wow-progression th {
  padding: 3px 3px;
}

#wow-progression .wow-progression-bosses td.boss-text {
  padding-left: 6px;
}

#wow-progression table,
#wow-progression td,
#wow-progression th {
  border: none;
}

#wow-progression .wow-progression-wrapper table.bg-zone td:hover {
  box-shadow: 0 0 4px white;
  cursor: pointer;
}

#wow-progression h3 {
  margin: 2px;
  font-size: 12px;
  text-shadow: 0 2px 1px #000;
  padding: 0;
  font-weight: bold;
}

#wow-progression .boss-text {
  font-size: 11px;
}

#wow-progression table.bg-zone {
  font-weight: bold;
}

#wow-progression table.bg-zone span {
  text-shadow: 0 2px 1px #000;
  font-weight: bold;
  margin: 2px;
  font-size: 10px;
}

#wow-progression table.wow-progression-clicker td,
#wow-progression table.wow-progression-clicker th {
  height: 20px;
  text-align: center;
  background-color: #000;
}

#wow-progression tr.noncomplete .normal {
  opacity: 0.3 !important;
}

#wow-progression tr.noncomplete .diff-icon {
  opacity: 0.2;
}

#wow-progression tr.noncomplete .boss-text {
  opacity: 0.6;
}

#wow-progression tr.complete .normal {
  opacity: 1.0 !important;
}

#wow-progression tr.complete .diff-icon {
  opacity: 0.8;
}

/*#wow-progression tr.complete .boss-text {

}*/
#wow-progression strong {
  font-size: 1.1em;
}

#wow-progression table {
  margin: 0;
}

#wow-progression .bg-zone {
  height: 20px;
}

#wow-progression .wow-progression-wrapper,
#wow-progression .wow-progression-wrapper-current {
  margin-bottom: 15px;
}

#wow-progression .wow-progression-wrapper a,
#wow-progression .wow-progression-wrapper-current a {
  display: block;
}

#wow-progression table.bg-zone tr td {
  vertical-align: bottom;
}

#wow-progression .wow-progression-wrapper a:hover {
  color: #fff;
  text-decoration: none;
}

#wow-progression .addon-wrapper .addon-head {
  height: 20px;
  margin-bottom: 8px;
}

#wow-progression .addon-wrapper .addon-head:hover {
  cursor: pointer;
}

/* ==============================
 *   Recruitment
 * ============================== */
#wow-recruitment {
  font-size: 12px;
}

#wow-recruitment ul {
  list-style-type: none;
  padding: 0;
}

#wow-recruitment ul li.class-rec {
  margin: 1px 0;
  background-color: #141414;
  box-shadow: 1px 1px 15px black;
  border: 1px solid #181414;
  height: 20px;
  position: relative;
}

#wow-recruitment ul li img {
  float: left;
}

#wow-recruitment ul li span.wowclass {
  margin-left: 5px;
}

#wow-recruitment .settings {
  font-style: italic;
  font-weight: bold;
  background-color: transparent;
  box-shadow: none;
}

#wow-recruitment .apply {
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-top: 3px !important;
}

#wow-recruitment .class-rec-specs span.wowclass {
  border-bottom: 1px dotted;
}

#wow-recruitment .class-rec .class-rec-info {
  display: inline;
  vertical-align: middle;
  line-height: 20px;
}

#wow-recruitment a.class-rec-specs {
  cursor: help;
  display: block;
  text-decoration: none;
}

#wow-recruitment a.class-rec-specs:hover + ul.class-role {
  display: block;
  text-decoration: none;
}

#wow-recruitment ul li.class-rec:hover {
  background-color: #111;
}

#wow-recruitment ul,
#wow-recruitment ul.class-role {
  min-width: 140px;
}

#wow-recruitment ul.class-role {
  display: none;
  position: absolute;
  padding: 0;
  margin: 1px 0 0 0;
  z-index: 5;
}

#wow-recruitment ul.class-role li {
  margin: 0;
  font-size: 11px;
  border-top: 1px solid #000;
}

#wow-recruitment ul.class-role img {
  padding: 3px 0 3px 2px;
}

#wow-recruitment .prio {
  font-size: 10px;
  font-style: italic;
  position: absolute;
  right: 8px;
}

#wow-recruitment .prio-open {
  color: #a3a79f;
}

#wow-recruitment .prio-closed {
  color: #73796d;
}

#wow-recruitment .prio-low {
  color: #10a73f;
}

#wow-recruitment .prio-medium {
  color: #f7c705;
}

#wow-recruitment .prio-high {
  color: #f54211;
}

#wow-recruitment .class-sub-info {
  margin-left: 14px;
}

#wow-recruitment .class-roles {
  width: 20px;
  height: 20px;
}

#wow-recruitment .class-role-icon {
  position: absolute;
  top: 3px;
  background: url('http://us.battle.net/wow/static/images/icons/roles.png') no-repeat;
  width: 14px;
  height: 14px;
}

#wow-recruitment .class-role-damage {
  background-position: 0 0;
}

#wow-recruitment .class-role-heal {
  background-position: -16px 0;
}

#wow-recruitment .class-role-damage {
  background-position: -32px 0;
}
