/* =============================================================================
 *   WoWTools
 * ========================================================================== */

/* WoW class colors */
.wowtools .wowclass-1 {
  color: #c69b6d;
}

.wowtools .wowclass-2 {
  color: #f48cba;
}

.wowtools .wowclass-3 {
  color: #aad372;
}

.wowtools .wowclass-4 {
  color: #fff468;
}

.wowtools .wowclass-5 {
  color: #f0ebe0;
}

.wowtools .wowclass-6 {
  color: #c41e3b;
}

.wowtools .wowclass-7 {
  color: #2359ff;
}

.wowtools .wowclass-8 {
  color: #68ccef;
}

.wowtools .wowclass-9 {
  color: #9382c9;
}

.wowtools .wowclass-10 {
  color: #00ffba;
}

.wowtools .wowclass-11 {
  color: #ff7c0a;
}
